<!DOCTYPE html>
<html>
    <head> 
    {{{_sections.head}}} 
    </head>
    <body>
    	{{{body}}}
    	<script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
    	{{{_sections.jquery}}}
    </body>
</html>