<!DOCTYPE html>
<html>
    <head> 
    	<style>
    		a.currency {
				text-decoration: none;
			}
			.currency.selected {
				font-weight: bold;
				font-size: 150%;
			}
    	</style>
    </head>
    <body>
    	{{{body}}}
    </body>
</html>